SECRET_KEY=
DEBUG=1

DJANGO_ALLOWED_HOSTS=
DJANGO_CORS_ALLOWED_ORIGINS=
DJANGO_CSRF_TRUSTED_ORIGINS=
PORT=8000

BOT_TOKEN=
ADMIN_CHAT_ID=

POSTGRES_DB=it_house
POSTGRES_USER=maxsud
POSTGRES_PASSWORD=strongpassword
POSTGRES_HOST=db
POSTGRES_PORT=5432

YOUTUBE_API_KEY = AIzaSyBuJUvoyM-SOI6f6xs6_vjaF5xAvku2Mnk
YOUTUBE_CHANNEL_ID  = UCYc_P1e4JUSFi_2hiY_eCIw
YOUTUBE_PLAYLIST_ID = PLy0na1UPzqTcNyD-ZHbaYwjSz_a3tg0Pv

INSTAGRAM_USERNAME=ithouse_edu
INSTAGRAM_SESSION_FILE=
INSTAGRAM_CACHE_TTL_SECONDS=86400
INSTAGRAM_FETCH_INTERVAL_SECONDS=86400
INSTAGRAM_DISABLE_LOGIN=1


